@font-face {
    font-family: 'Space Grotesk Regular';
    src: url(./fonts/SpaceGrotesk-Regular.ttf);
}
@font-face {
    font-family: 'Space Grotesk light';
    src: url(./fonts/SpaceGrotesk-Light.ttf);
}
@font-face {
    font-family: 'Space Grotesk';
    src: url(./fonts/SpaceGrotesk-Medium.ttf);
}
@font-face {
    font-family: 'Space Grotesk Bold';
    src: url(./fonts/SpaceGrotesk-Bold.ttf);
}

h1 {
    font-family: "Space Grotesk Bold", sans-serif;
    font-weight: 500;
    font-size: 60px;
}

h1::selection {
    color: #fff;
    background-color: black;
}

h2 {
    font-family: "Space Grotesk Bold", sans-serif;
    font-weight: 500;
    font-size: 40px;
}

h2::selection {
    color: #fff;
    background-color: black;
}

h3 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

h3::selection {
    color: #fff;
    background-color: black;
}

h4 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

h4::selection {
    color: #fff;
    background-color: black;
}

p {
    font-family: "Space Grotesk Regular", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.15;
}

p::selection {
    color: #fff;
    background-color: black;
}

a {
    text-decoration: none;
}

.green-back {
    padding: 0 8px;
    color: #000;
    background-color: #B9FF66;
    span {
        background-color: #fff;
    }

    p {
        color: #000;
    }
}

.white-back {
    color: #000;
    background-color: #f3f3f3 !important;

    span {
        background-color: #B9FF66 !important;
    }

    span::selection {
        color: #B9FF66 !important;
    }

    p {
        color: #000;
    }

    p::selection {
        color: #f3f3f3 !important;
        background-color: #191A23 !important;
    }
}

.black-back {
    color: #191A23;
    background-color: #191A23 !important;
    box-shadow: 0 3px 0 1px #53722e,
                0 -.5px 0 1px #53722e !important;
    span {
        background-color: #f3f3f3 !important;
    }

    span::selection {
        color: #f3f3f3 !important;
        background-color: #191A23 !important;
    }

    p {
        color: #f3f3f3;
    }
    p::selection {
        color: #191A23 !important;
        background-color: #f3f3f3 !important;
    }
    
}
.black-back:hover {
    box-shadow: 0 8px 0 1px #53722e,
                0 -.5px 0 1px #53722e !important;
}

.green-head {
    width: max-content;
    border-radius: 8px;
    padding: 8px 4px 4px 4px;
    background-color: #B9FF66;
}
.green-head::selection {
    color: #B9FF66;
    background-color: #000;
}

.block .text::after {
    width: 0% !important;
}

.open-content-active {
    transition: all .5s ease-in-out;
    background-color: #B9FF66 !important;

}
.open-content-active #slide-elem {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #191A23 !important;
    transition: border-top .3s ease-in-out;
}
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0 5%;
}

header {
    margin-bottom: 140px;
}

nav {
    display: flex;
    justify-content: space-between;
    
    margin-top: 2%;
}

nav .logo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 60%;
}

.navElem {
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 140%;
    font-family: "Space Grotesk", sans-serif;

    color: #000;
    border-radius: 5px;

    cursor: pointer;
    list-style: none;

    padding: 2px 5px;
    position: relative;
}
.navElem::after {
    content: '';
    position: absolute;
    height: 0.2vh;
    left: 5%;
    bottom: 0;
    width: 0;
    background-color: #191a23;
    transition: width .5s ease-in-out;
}
.navElem::selection {
    color: #fff;
    background-color: black;
}
.navElem:hover::after {
    width: 92%;
}

nav ul button {
    display: flex;
    align-items: center;

    font-size: 1.5vw;
    font-family: "Space Grotesk", sans-serif;

    padding: 20px 35px;

    border-radius: 14px;
    border: 1px solid #191a23;
    background-color: #00000003;

    transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
nav ul button:hover {
    color: #fff;
    background-color: #191a23;
}
nav ul button span::selection {
    color: #191A23;
    background-color: #fff;
}


header .main {
    margin-top: 6vh;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    height: min-content;
}

header .main .consultation {
    width: 47%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header .main .consultation h4 {
    line-height: 110%;
}

header .main .consultation button {
    font-size: 1.5vw;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;

    color: #fff;
    padding: 20px 35px;

    width: max-content;
    border-radius: 14px;
    background-color: #191a23;

    transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
header .main .consultation button:hover {
    color: #191a23;
    background-color: #fff;
}
header .main .consultation button span::selection {
    color: #fff;
    background-color: #191A23;
}

header .sponsors {
    display: flex;
    justify-content: space-between;
}

header .sponsors svg {
    filter: brightness(0);
}




.subtext {
    width: 78%;

    display: flex;
    align-items: center;

    margin-bottom: 80px;
}

.subtext p {
    margin-left: 40px;
    width: 80%;
}

main .services ul {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);

    list-style: none;
}

main .services ul li {
    padding: 50px;

    border-radius: 45px;
    background-color: #B9FF66;
    box-shadow: 0 3px 0 1px #191A23,
                0 -.5px 0 1px #191A23;
    transition: .75s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    z-index: 1;
}

main .services ul li:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 0 1px #191A23,
                0 -.5px 0 1px #191A23;
    z-index: 2;
}

main .services ul li {
    display: flex;
    justify-content: space-between;
}

main .services ul li .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: 70%;
}
main .services ul li h3 {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .services .left-side h3 span {
    display: block;

    font-size: 30px;
    line-height: 1.2;
    border-radius: 5px;
    background: #fff;

    padding: 5px 5px 2px 5px;
}

main .services .left-side h3 span::selection {
    color: #fff;
    background-color: black;
}

main .services .left-side .more {
    display: flex;
    align-items: center;

    width: max-content;
}

main .services .left-side .more button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 41px;
    height: 41px;
    margin-right: 15px;

    border: none;
    outline: none;
    cursor: pointer;
    background-color: #00000000;
}


main .services .left-side .more p {    
    font-size: 20px;
    font-weight: 500;
    font-family: "Space Grotesk Regular", sans-serif;
}

main .services ul li .left-side .more p::selection {
    background-color: black;
    color: #B9FF66;
}



.letMakeThat {
    margin: 100px 0 140px 0;
    padding: 23.5px 0;
}

.letMakeThat .parent .child {
    position: relative;

    display: flex;
    justify-content: space-between;

    border-radius: 45px;
    background-color: #F3F3F3;
}
.letMakeThat .parent .child::after {
    content: '';

    position: absolute;

    width: 100%;
    height: 100%;

    left: 0;
    bottom: 0;

    opacity: 0.1;
    pointer-events: auto;
    border-radius: 45px;
    border: 1px #000 dashed;
    background-color: #ffffff;
    box-shadow: inset 0 0 20px black;

    transition: opacity 0.5s ease-in-out;
}

.letMakeThat .parent .child:hover::after {
    opacity: 0;
    pointer-events: none;
}

.letMakeThat .left-side {
    max-width: 40%;
    
    margin: 60px;

    display: flex;
    flex-direction: column;
}
.letMakeThat .left-side * {
    padding: 13px 0;
}

.letMakeThat .left-side button {
    display: flex;
    align-items: center;

    color: #fff;
    font-size: 20px;
    line-height: 1.1;
    font-family: "Space Grotesk Regular", sans-serif;

    width: max-content;
    padding: 10px 15px;

    border-radius: 14px;
    border: 1px solid #191a23;
    background-color: #191a23;
    
    transition: .45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}   
.letMakeThat div button:hover {
    color: #191A23;
    background-color: #00000003;
}

.letMakeThat .parent .child button span::selection {
    color: #fff;
    background-color: #191A23;

    transition: .4s;
}

.letMakeThat div svg {
    height: 395;
    width: 356px;
    position: absolute;
    left: 60%;
    transform: translateY(-7%);
}




.case-studies .main {
    display: flex;

    padding: 70px 60px;
    margin-bottom: 140px;

    border-radius: 45px;
    background-color: #191A23;



    p {
        color: white;
    } 
    p::selection {
        color: #191A23;
        background-color: white;
    }
}

.case-studies .main .block {
    width: 30%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
.case-studies .main .block-border {
    margin: 0 64px;
    padding: 0 64px;
    border-left: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
}

.case-studies .main .block .more {
    position: relative;
    width: min-content;
    margin-top: 20px;

    display: flex;

    color: #B9FF66;
    button {
        margin-left: 15px;

        border: none;
        background-color: #00000000;
    }
}

.case-studies .main .block .more p {
    width: max-content;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.case-studies .main .block .more svg {
    cursor: pointer;
}
.case-studies .main .block .more p:hover {
    color: #B9FF66;
}
.case-studies .main .block .more::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: #f3f3f3;
    transition: width .5s ease-in-out;
}
.case-studies .main .block .more:hover::after {
    width: 100%;
}



.work-procces .main .block {
    margin-bottom: 30px;
    padding: 41px 60px;

    border-radius: 45px;
    transition: ease-in-out .5s;
    background-color: #F3F3F3;
    border: .5px solid #191A23;
    box-shadow: 0 5px 0 0 #191A23;
}

.work-procces .main .block .text {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0px;

}

.work-procces .main .block .text div {
    display: flex;
    align-items: center;
        transform: translateY(5px);
    h3 {
        margin-left: 19.5px;
    }
}

.work-procces .main .block .text .open-content {
    width: 58px;
    height: 58px;
    position: relative;

    border: 1px solid #191A23;
    border-radius: 50%;
    background-color: #F3F3F3;
}
.work-procces .main .block .text .open-content::after {
    content: '';
    position: absolute;

    top: 45%;
    right: 30%;

    width: 40%;
    height: 10%;
    background-color: #191A23;
}
.work-procces .main .block .text .open-content::before {
    content: '';
    position: absolute;

    bottom: 30%;
    right: 45%;

    width: 10%;
    height: 40%;
    background-color: #191A23;
    transition: .3s ease-in-out;
}

.close-plus::before {
    content: '';
    position: absolute;

    bottom: 30%;
    right: 45%;

    width: 10%;
    height: 0% !important;
    background-color: #191A23;
}

#slide-elem {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #F3F3F3;
    transition: border-top .5s ease-in-out;
}
